<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('master/headTags.ejs') %>
    <title>برمجيات | الصفحة التعريفية</title>
</head>
<body>
    <!-- navbar -->
    <%- include('master/navbar.ejs') %>
    <div>
        <div class="container chapter p-5">
            <!-- essential titles -->
            <div class="text-right whowe_re p-4 headerCourse">
                <h1>دوراتنا :</h1>
                <span class="text-muted">مع دوراتنا ستحقق حلم الاحتراف بكل سهولة و بأقل تكلفة</span>
            </div>
        </div>
    </div>
    <!-- filter -->

    <!-- all courses -->
    <div class="chapter" id="threads">
      <div class="container pt-3">
          <table class="table table-light text-dark table-bordered table-striped rounded rounded-1">
              <thead>
                  <tr>
                      <div class="input-group mb-3">
                          <input type="text" id="search" class="form-control" placeholder="اكتب عنوان الثريد الذي تبحث عنه" aria-label="Example text with button addon" aria-describedby="button-addon1">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-dark rounded mr-1" type="button" id="button-addon1">ابحث</button>
                          </div>
                      </div>
                  </tr>
                  <tr>
                      <th>عنوان الدورة</th>
                      <th>تاريخ النشر</th>
                      <th>السعر</th>
                      <th>الحالة</th>
                      <th>رابط الانضمام</th>
                  </tr>
              </thead>
              <tbody id="list">
                  
              </tbody>
          </table>
      </div>
  </div>
    <!-- footer -->
    <%- include('master/footer.ejs') %>
    <!-- scripts -->
    <%- include('master/scripts.ejs') %>
    <script>
        $('tbody').html(decodeURIComponent('<%- encodeURIComponent(CT) %>'))
    </script>
</body>
</html>